# Fichiers système
.DS_Store
Thumbs.db

# Dossiers de dépendances
/node_modules/

# Fichiers d'environnement
.env
.env.local

# Fichiers de build
/dist/
/build/

# Fichiers IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Fichiers de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
